@import "./variables";
@import "./buttons";

.input {
    border: 1px solid black;
    border-radius: 3px;
    margin: 4px 2px;
    padding: 5px 5px;
    max-width: 130px;
    outline: none;

    &:focus{
        box-shadow: 0 0 3px $color-blue;
    }
}

.row {
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    padding: 5px 10px;
}

