.btn {
    background-color: #2658c1;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin: 4px 2px;
    padding: 5px 15px;
    border-radius: 3px;
}

.btn-disabled {
    background-color: #629bf7;
    cursor: not-allowed;
}

.btn-danger {
    background-color: #bc2d2d;
}

.input {
    border: 1px solid black;
    border-radius: 3px;
    margin: 4px 2px;
    padding: 5px 5px;
}

.row {
    border: 1px solid black;
    margin: 2px;
    padding: 5px;
}

